<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for</title>
</head>
<body>
    <div id="app">
        <li v-for="(framework, i) in frameworks">
            El framework {{framework}} fue creado por {{creador[i]}}
        </li>
        <hr>
        <li v-for="(nombre, framework) in datos">
            El framework {{framework}} fue creado por {{nombre}}
        </li>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                frameworks:['Angular','Vue','React','Node'],
                creador:['Chino','Elio','Juan','Raul'],
                datos:{
                    Angular: 'Chino',
                    Vue: 'Elio',
                    React: 'Juan',
                    Node: 'Raul',
                }
            }
        })

    </script>



</body>
</html>